:root {
    --yellow: rgba(247, 223, 7, 0.952);
    --orange: rgb(184, 104, 1);
    --black: rgb(20, 5, 5);
}

html {
    box-sizing: border-box;
    color: var(--black);
}

body {
    background: linear-gradient(to right, var(--orange), var(--black));
    margin: 20px;
}

.wrapper {
    
}

.top {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "party party cta1"
    "party party cta2"
}

.party {
    grid-area: party;
    min-height: 450px;
    background-image: url('../img/epicspook.png');
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.party > * {
    background: var(--yellow);
    padding: 5px;
}

.cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta1 {
    grid-area: cta1;
}

.cta2 {
    grid-area: cta2;
}

.price {
    font-size: 2.75rem;
    font-weight: 400;
}

.cta p {
    margin: 0;
}

button {
    background: var(--yellow);
    border: 0;
    padding: 20px;
}

/* MENU JEE */

.menu ul {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu a {
    background: var(--yellow);
    text-decoration: none;
    text-align: center;
    color:black;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/* hide dat menu butt baby */
[aria-controls="menu-list"] {
    display: none;
}